<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- <h1>Todos</h1> -->
        <nav class="navbar">

            <div class="navbar-title"><%= user.userName %> has <%= left %> thing(s) left to do.</div>

            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            <div class="navbar-link">
                <ul>
                    <li>    <a href="/logout">Logout</a></li>
                </ul>
            </div>

        </nav>
        <div class="todo-form-container">

            <form class="todo-form" action="/todos/createTodo" method='POST'>
                <div>

                    <input type="text" placeholder="Enter Todo Item" maxlength="45" name='todoItem'>
                </div>
                <div>

                    <input type="date" placeholder="Time due" name='todoDate'>
                </div>
                <input type="submit">
            </form>
        </div>


        <div id="post-it-container">
            <% todos.forEach( el => { %>

                <div class="post-it">
                <div class='<%= new Date(el.dateDue).getTime() >= (new Date().getTime())  ? 'circle small overdue' : 'circle small'%>'>

                    <span class="overdue-span">Overdue</span>
                </div>
                <ul class='todoItem' data-id='<%=el._id%>'>
                    <li><p class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></p></li>

                    <li><span>DUE %><%=(el.dateDue)?.toDateString()%></span>%></li>
                    <span class='del'> Remove </span>
                </ul>
            </div>

    <% }) %>
        </div>

    <!-- <h2><%= user.userName %> has <%= left %> things left to do.</h2> -->




    <script src="js/main.js"></script>
</body>
</html>
